- @PAGE_IDENT = "Home"

- if @stories.current_page > 1
    = render :partial => "verblog/shared/page_nav"

= render :partial => "verblog/shared/story/full/story", :collection => @stories

= render :partial => "verblog/shared/page_nav"

- content_for :sidebar do
    - if @current_user && @current_user.author?
        .authoropts
            %h2 Author Options
            
            = link_to "Start a New Story", new_story_path
            
            %ul.drafts
                - for s in @drafts
                    %li= link_to "#{s.title} (Updated #{time_ago_in_words s.updated_at} ago)", story_path(s)