.authoropts
  %h2 Author Options
            
  %p= link_to "Edit Story", edit_story_path(@story), :class => "btn btn-primary"

  %hr/
  
  :javascript
      _vsp = new Verblog.StoryPreview(".story_full","#{preview_story_path(@story)}")
  
  = render :partial => "set_status"
  
  = render :partial => "set_authors"
              
  = render :partial => "assetCMS"