<% @PAGE_TITLE = "New Story" %>

<h1><%= @PAGE_TITLE %></h1>
<div class="verblog_compose">

<%= form_for :story, :url => story_index_path(), :html => { :method => :post } do |f| %>
    
    <h3>Title</h3>
    <%= f.text_field :title %>
    
    <h3>Story</h3>
    <%= f.text_area :intro, :rows => 12 %>
    
    <%= f.text_area :body, :rows => 18 %>
    
    <hr/>
        
    <p><%= submit_tag "Save" %></p>
    
<% end %>
</div>