- @PAGE_TITLE = (@story.published?) ? @story.title : (Verblog::Story::STATUS_TEXT[ @story.status ] + " :: " + @story.title)

- content_for :meta do
    %meta{ :property => "og:title", :content => @PAGE_TITLE }
    %meta{ :property => "og:type", :content => "article" }
    %meta{ :property => "og:url", :content => @story.remote_story_link }
	
    - if @story.assets.any?
        %meta{ :property => "og:image", :content => @story.assets.first.asset.lsquare.url }
		
    %meta{ :property => "og:site_name", :content => Verblog::Config.title }
    
.story_full
    %h1= @PAGE_TITLE
    %h3(style="margin-top: -6px")
        Posted 
        = @story.timestamp.strftime("%A, %B %d, %Y, at %I:%M%p")
        by 
        = @story.author.name
    
    - cache("stories/#{@story.id}/show") do
        - register_content @story
        = render_asset @story, "story"
        = raw markdown @story.intro
        = raw markdown @story.body

%hr.light/

- if @story.published?
    .fb-comments{ :data => { :href => @story.remote_story_link, :num_posts => 5, :width => 620 }}

- content_for :sidebar do
    - if @current_user && @current_user.author?
        .authoropts
            %h2 Author Options
            
            %p This story is currently in the #{ Verblog::Story::STATUS_TEXT[ @story.status ] } stage.
            
            %p= link_to "Edit Story", edit_story_path(@story)
            
            = render :partial => "assetCMS"