.story.summary
    %h1= link_to story.title, story.story_link
    %h3.byline 
        = smart_date(story.timestamp)
        by #{story.author_names}
	
    - cache("stories/#{story.id}/summary") do
        - register_content story
        = render_asset story, "home"
        = markdown(story.intro + ( story.body? ? " &mdash; " + link_to("Continue Reading...",story.story_link, :class => "continue") : "")).html_safe